/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

button[mat-raised-button]:hover {
  opacity: 0.8;
  transition: 0.7s;
}

.container {
  margin: 2rem;
}

.spacer {
  flex: 1 1 auto;
}
